<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find megabot_gazebo)/worlds/megabot.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_megabot" pkg="gazebo_ros" type="spawn_model" args="-file $(find megabot_description)/urdf/megabot.urdf -urdf -z 0.01 -model megabot" />

  <node name="spawn_ball_1" pkg="gazebo_ros" type="spawn_model" args="-file $(find megabot_description)/urdf/tennis_ball.urdf -urdf -z 0 -y -0.5 -model ball_left" />
  <node name="spawn_ball_2" pkg="gazebo_ros" type="spawn_model" args="-file $(find megabot_description)/urdf/tennis_ball.urdf -urdf -z 0 -y 0 -model ball_middle" />
  <node name="spawn_ball_3" pkg="gazebo_ros" type="spawn_model" args="-file $(find megabot_description)/urdf/tennis_ball.urdf -urdf -z 0 -y 0.5 -model ball_right" />

</launch>
