<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find megabot)/map/map.yaml" />
  <node name="costmap_2d" pkg="costmap_2d" type="costmap_2d_node">
    <rosparam ns="costmap" command="load" file="$(find megabot)/map/costmap.yaml"/>
  </node>

  <node pkg="localisation" type="localisation_node" name="localisation"/>

  <param name="megabot_description" command="$(find xacro)/xacro --inorder $(find megabot)/urdf/megabot.urdf.xacro"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_state_publisher" >
    <remap from="robot_description" to="megabot_description" />
    <remap from="joint_states" to="megabot_joint_states" />
  </node>

</launch>
