<?xml version="1.0"?>

<robot name="tennis_ball">

  <!-- root link, on the ground just below the model origin -->
  <link name="ball">

    <inertial>
      <mass value="0.058" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.000032" ixy="0.0" ixz="0.0"
        iyy="0.000032" iyz="0.0"
        izz="0.000032" />
    </inertial>

   <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.033"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <sphere radius="0.033"/>
      </geometry>
    </collision>

  </link>

  <gazebo reference="ball">
    <mu1>10</mu1>
    <mu2>10</mu2>
    <material>Gazebo/Green</material>
    <dampingFactor>0.00001</dampingFactor>

    <collision>
      <surface>
        <bounce>
          <restitution_coefficient>0.3</restitution_coefficient>
          <threshold>0</threshold>
        </bounce>
        <contact>
          <ode>
            <max_vel>10</max_vel>
          </ode>
        </contact>
      </surface>
    </collision>

  </gazebo>

</robot>

